#chat {
  background-color: rgba(0, 0, 0, 0.6);
}
#chat .chat-container .pusher-chat-widget-input {
    background-color: rgba(0, 0, 0, 0.6);
}
#chat .chat_tools {
  background-color: rgba(0, 0, 0, 0.3);
}
#player-controller {
    background-color: rgba(0, 0, 0, 0.8);
}
